.m-overlay {
    position: fixed;
    z-index: 99999;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.805);
    transition: 1s 0.5s;
}

#m-loader {
    top: 95px;
}

#m-loader img {
    display: block;
    margin-left: auto;
    width: 70px;
    height: 70px;
    margin-right: auto;
    margin-top: 200px;
}

.hidden {
    display: none;
}

.container-holder {
    margin-top: 0px;
}

.pagination: {
    right: 0;
}

.pagination-links {
    padding: 5px 10px 5px 10px;
    margin: 3px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color: #990000;
    font-weight: 600;
}

.pagination strong {
    padding: 5px 10px 5px 10px;
    margin: 3px;
    font-weight: bold;
}

.pagination-links:hover {
    background-color: #E4E4E4
}

.madames-btn-fix {
    min-height: auto;
}
.madames-btn-fix:active {
    border:0;
}
.madames-msg {
    margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .madames-msg {
      margin-top: 85px;
  }
  }
.active-region {
    background-color: #990000;
    color: white !important;
}

.edit-description {
    display: none
}

.profile_description:hover {
    border-color: tan;
}

.edit-description-img:hover {
    cursor: pointer;
}

.settings-section {
    padding: 3px 0 3px 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
}

.account-settings{
    margin-top: 3px;
    padding-left: 5px;
}
.account-options .account-option.disable-account.acc-def{
    display: inline-block;
    margin-right: 5px;
    background-color: #cccc00;
    border: 1px solid #999999;
}
.account-options .account-option.enable-account.acc-def{
    display: inline-block;
    margin-right: 5px;
    background-color: green;
    border: 1px solid #999999;
}
.account-info{
    font-size: 12px;
}
.account-btn-desc{

}
.account-option.disable-account.acc-def .madames-btn-fix{
  border-radius: 36px;
  padding: 3px;
  border: 1px solid #999999;
  position: relative;
  bottom: .032rem;
  right: 0px;
}
.account-option.enable-account.acc-def .madames-btn-fix{
  border-radius: 36px;
  padding: 3px;
  border: 1px solid #999999;
  position: relative;
  bottom: .032rem;
  right: 0px;
}
.far.fa-pause-circle{


}
@media only screen and (max-width: 466px) {

    .pause_text{
      font-size: 16px;
      font-weight: bold;
    }

  .account-time-left{
    padding-left: 0px !important;
  }
}
@media only screen and (max-width: 410px) {
  .settings-section {
  padding-left: 8px;
  padding-right: 8px;
}
    .pause_text{
      font-size: 12px;
      font-weight: bold;
    }
}
@media only screen and (max-width: 372px) {
    .pause_text{
      font-size: 10px;
      font-weight: bold;
    }
    .settings-section {
    padding-left: 5px;
    padding-right: 5px;
}
    .account-option{
      margin-right: 0px !important;
    }
}
