@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&subset=latin-ext');
body {
    padding-top: 54px;
    background: #ececec;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
   .new-girl-holder{
     min-width: 91.666667%;
     margin-left: 15px;

   }
   .new_girls_row{
     min-width: 100%;
   }
}
.madames-msg {
width:100%;
margin-left: auto;
margin-right: auto;

}
#image-holder > canvas{
  border: 2px solid #cccccc;
  margin-left: 25px;
  opacity: 0.4;
}
.logo_activ_div{
  display: inline-block;
}
.rose_first{
  height: 40px;
  width: 100px;
  position:relative;
  top:0;
  right:100px;
}
.rose_second{
  height: 40px;
  width: 100px;
  position:relative;
  top:0;
  left:125px;
}
.button_activate{
  padding: 20px;
  background-color: #990000;
  color:white;
  border-radius: 46px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
.button_activate:hover{
  background-color: white;
  color:#990000;
  border: 2px solid #990000;
}
.yes_btn_act{
  background-color: #003300;
  margin-right: 30px;
}
.yes_btn_act:hover{
  background-color:white;
  color: #003300;
  border: 2px solid #003300;
}
.ask_act_div{
  color:white;
  margin-top: 20px;
  padding-left: 30px;
}
.activate_div{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.logo_activ{
  width:360px;
  height: 90px;
}
.video{
  margin-left: 30px;
  border: 1px solid #ccc;
  width:320px;
  height: 240px;
}
.madames-msg p {
  margin-bottom: 0 !important;
}
.container-holder {
    background: #fff;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
}
.onedaypaket{
  width:150px;
  height: 150px;
}
.he_sp{
  background-color: #d9d9d9;
  padding: 2px;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  cursor: pointer;
}
.modal_h5{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.help_box{
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.onedaydiv{
  border: 2px solid #cccccc;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(230, 230, 230, 0.6);
}
.text_mod{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}
.body_box{
  margin-top: 20px;
}
.box_modal{
  max-width:650px;
  margin-left: auto;
  margin-right: auto;
}
.sel_mon{
  width: 40% !important;
  margin-right:8px !important;
}
#listing{
  padding-left: 10px;
  padding-right: 10px;
}

.deac-btn:hover{
  background-color: #ff1a1a;
  color: white;
}
.search_filter {}

.logo {
    height: 70px;
    width: 240px;
}
.edit-description{

}
.mob_live {
    display: none;
}
.li_mar{
  margin-right:3px;
  border-right:0;
}
.nav-item.active {
    background: #e0006c;
    background-color: #990000;
}

.card-img-top {
    height: 245px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.navbar {
    background-color: black;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .6rem;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.show_upload_gallery {
    display: none;
    background-color: #1957b2 !important;
    border: 2px solid #103670;
}
.show_upload_gallery_two {
    display: none;
    background-color: #1957b2 !important;
    border: 2px solid #103670;
}
.show_upload_gallery_video {
    display: none;
    background-color: #1957b2 !important;
    border: 2px solid #103670;
}
.show_upload_profile {
    display: none;
    background-color: #1957b2 !important;
    border: 2px solid #103670;
}
.del_btn{
  border-radius: 3px;
  border: 1px solid #1a8cff;
  color: #1a8cff;
  padding-top: 7px;
  background: white;
  color: #ff3333;
  border: 1px solid #ff3333;
}
.del_btn:hover{
  color:white;
  background-color:#ff3333;
}
.upload_span_show {
    display: none;
}
.mobile_td{
  font-size: 15px;
}
.pause_text{
  margin-left: 3px;
  display: inline-block;
  position: relative;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: white;
  color: #cccc00;
  border-radius: 25px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #999999;
  margin-right: 10px;
  bottom:7px;
  left:1px;
}
.pause_text_two{
  margin-left: 3px;
  display: inline-block;
  position: relative;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: white;
  color: green;
  border-radius: 25px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #999999;
  margin-right: 10px;
  bottom:7px;
  left:1px;
}
.card-title a {
    color: #990000;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
}

.club_h4 {
    color: #990000;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.row.filters_div_bottom{
  margin-bottom: 5px;
}
.club_h4_bottom {
    color: #990000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.club_card h6 {
    color: #990000;
}
.title_con{
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top:7px !important;
}
.close_con{
  margin-left: 0 !important;
}
.header_con{
  text-align: center !important;
}
.desc_con{
  padding-left: 10px !important;
  padding-top: 10px !important;
}
.club_line {
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}

.new_girls_h4 a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration-color: #bfbfbf;
    margin-bottom: 5px !important;
}

.card {
  -webkit-box-shadow: 0px 5px 25px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 25px -11px rgba(0,0,0,0.75);
box-shadow: 0px 5px 25px -11px rgba(0,0,0,0.75);
}

.home_card {
    transition: transform .3s;
    border-radius: 12px;
}

.home_card:hover {
    transform: scale(1.02);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    -webkit-box-shadow: 0px 7px 49px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 49px -14px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 49px -14px rgba(0,0,0,0.75);
}

.new_girl_card {
  -webkit-box-shadow: 0px 7px 49px -24px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 49px -24px rgba(0,0,0,0.75);
box-shadow: 0px 7px 49px -24px rgba(0,0,0,0.75);
    transition: transform .2s;
    border: 1px solid #d9d9d9 !important;
    border-radius: 12px;
}

.new_girl_card:hover {
    transform: scale(1.02);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.nav-link {
    font-size: 10px;
    color: white;
    font-weight: lighter;
}
.py-5 {
    background-color: black;
    margin-top: 20px;
}

.copy_footer {
    text-align: center;
    margin-top: 10px;
}

.nav-item a {
    font-size: 15px;
    font-weight: 500;
}
.nav-item{
}

.nav-item.active {
    border-radius: 3px;
}

.aside-search {
    margin-top: 60px;
    /* margin-bottom: -15px; */
}

.aside-search .list-group li {
    color: #666666;
}
.aside-search .list-group a {
    color: #666666;
}

.top-filters .mb-3,
.top-filters .my-3 {
    margin-bottom: 5px!important;
}

.form-item label {
    min-width: 60px;
}

.form-item select {
    width: calc(100% - 67px);
    height: 20px;
    font-size: 12px;
}

.img-holder {
    position: relative;
}

.img-holder span {
    background: rgba(0, 0, 0, 0.6);
    display: block;
    width: 100%;
    padding: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: .8rem;
}

.profile_table {
    width: 400px;
}

.profile_table td,
.profile_table th {
    padding: .45rem !important;
}
.profile_table th {
    padding-top: .55rem !important;
}

.profile_table th.th_profile {
    background-color: rgba(177, 44, 44, 0.5);
    background: rgba(177, 44, 44, 0.5);
    color: rgba(177, 44, 44, 0.5);
    color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px !important;
    width: 110px !important;
    border:2px solid rgba(177, 44, 44, 0.5) !important;
    text-align: center !important;
}
.profile_table th.th_profile > span{
  position: relative;
  top: 4px;
}
.profile_table th.th_profile > span.pro{
  position: relative;
  bottom: 1rem;
  top:0;
}

@-moz-document url-prefix() {
  .profile_table th.th_profile > span.pro{
    position: relative;
    left:1px;
    bottom: 2rem;
    top:-2px;
  }
}

.tr_profile>td {
    padding-left: 20px !important;
    padding-bottom: .50rem !important;
    padding-top: .50rem !important;
}

.form_rows {
    margin-right: 10px;
    margin-top: 10px;
}

.top-filters {
    margin-top: 60px;
    font-size: 13px;
}

.panel {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1rem;
    -webkit-box-shadow: -1px 10px 30px -17px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 10px 30px -17px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 10px 30px -17px rgba(0, 0, 0, 0.3);
}

.panel label {
    margin-right: 5px;
}

.red-b {
    border-color: #990000;
}

.aside-search h1 {
    font-size: 23px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0 !important;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.my-4 {
    background-color: #990000;
    color: white;
}

.sidebar_img {
    float: left;
    height: 20px;
    width: 12px;
    margin-right: 9px;
    padding-bottom: 2px;
}

.profile_img_edit {
    height: 15px;
    width: 18px;
    margin-left: 4px;
    padding-bottom: 1px;
    /** 1957b2 **/
}
.div_btn_sbm{
  margin-top:15px;
  margin-left:25px;
}
.modal-dialog {
    height: 600px !important;
}

.crop_image {
    float: left;
}
#crop_img_btn{
  border-radius:3px;
}
.aside-search .list-group li {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.aside-search .list-group a {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

#demo-basic {
    width: 200px;
    height: 300px;
}

.list-group-item {
    /* border-color: #990000; */

}

.aside-search .list-group li:hover{
    color: #990000;
    background: #990000;
    color: #fff;
}
.aside-search .list-group a:hover{
    color: #990000;
    background: #990000;
    color: #fff;
}
.aside-search .list-group li:hover .icon-m-location{
    background: #990000;
    color: #fff;
}
.aside-search .list-group a:hover .icon-m-location{
    background: #990000;
    color: #fff;
}

.kaydet {
    width: 100%;
}

.list-group {
    border: 2px solid #999999;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}

.list-group-text {
    border: 2px solid #b3b3b3;
    border-radius: 9px;
}


/* NEW GIRLS */

.new-girl-holder {
    margin-bottom: 25px;
}

.margin_row_new {
    margin-top: 60px;
}

.img-holder.new-girls img {
    overflow: hidden;
}

.form-item select {
    height: 28px;
}

.dot_girl {
    width: 19px;
    height: 18px;
    margin-top: 2px;
    border-radius: 40px;
}

.big-img {
    width: 200px;
    margin: 5px;
    float: left;
    margin-right: 5px;
    height: 260px;
    border-radius: 3px;
    border-radius: 3px;
    border: 3px double #bfbfbf;
}
#btn-getInTouch{
  -webkit-box-shadow: 0px 0px 4px 1px rgba(163,153,163,1);
-moz-box-shadow: 0px 0px 4px 1px rgba(163,153,163,1);
box-shadow: 0px 0px 4px 1px rgba(163,153,163,1);
border-radius: 15px;
cursor: pointer;
margin-right: 2px;
margin-top: 3px;
}
#btn-getInTouch:hover{
  transition: transform .2s;
}
.dot_girl{
  margin-top: 12px;
  margin-bottom: 4px;
  margin-left: 3px;
}
.profile_photo_edit {
    margin-bottom: 0;
}

.btn-cancel {
    background-color: #a6a6a6;
    color: white;
}

.small-img {
    width: 125px;
    float: left;
    margin: 0 5px 5px 0;
    margin-top: 5px;
    height: 125px;
    border-radius: 2px;
    border-radius: 2px;
    border: 3px double #bfbfbf;
}

.filter-col {
    padding-left: 10px;
    padding-right: 10px;
}

.small_img_first {
    margin-top: 5px;
    margin-bottom: 5px;
}

.small_img_sec {
    margin: 0;
}


/* MEMBERS */

.login-form {
    width: 340px;
    margin: 80px auto;
    border: 1px solid #d9d9d9;
}

.login-form form {
    margin-bottom: 0;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 3px;
}

.input-group-addon .fa {
    font-size: 18px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}


/* CLUBS */

.clubs_row {
    margin-top: 60px;
}


/* PROFILE */

.custom-file-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: .25rem;
}

.custom_profile_row {
    margin: 60px auto;
}

.nav_item_profile a {
    color: #990000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.img_profile {
    width: 190px;
    height: 260px;
    border-radius: 15px;
    border: 3px double #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}

.tab-content {
    border: 1px solid #d9d9d9;
    padding: 8px;
    padding-top: 1.4rem !important;
    border-top: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-box-shadow: -1px 11px 35px -17px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: -1px 11px 35px -17px rgba(0, 0, 0, 0.50);
    box-shadow: -1px 11px 35px -17px rgba(0, 0, 0, 0.50);
}
.cr-boundary {
    height: 500px !important;
}
.nav-tabs {
    border-bottom: 1px solid #d9d9d9;
}

.profile_h3 {
  color:#990000;
  font-weight: 600;
  margin-left: 25px;
  margin-bottom: 25px !important;
}

.col-md-6 p {
    margin-bottom: 0.5rem;
}

.custom-file {
    margin-top: 5px;
}
.show_upload_gallery_two{
  background-color: grey;
  border:0;
}
.show_upload_gallery_two:hover{
  background-color: #bfbfbf;
}
.show_upload_gallery_two:active{
  background-color: #bfbfbf !important;
  border:0 !important;
}
.show_upload_gallery_two:focus{
  background-color: #bfbfbf;
  border:0;
}
/* Contacts */

.row_contact {
    margin: 50px auto;
    margin-left: auto;
    margin-right: auto;
}

.contact_row_left {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.contact_row_right {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* Profile checkbox */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    float: left;
    margin-right: 5px;
    margin-left: 4px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.default:checked+.slider {
    background-color: #444;
}

input.primary:checked+.slider {
    background-color: #2196F3;
}

input.success:checked+.slider {
    background-color: #8bc34a;
}

input.info:checked+.slider {
    background-color: #3de0f5;
}

input.warning:checked+.slider {
    background-color: #FFC107;
}

input.danger:checked+.slider {
    background-color: #f44336;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.bio_form_profile {
    width: 80%;
    float: left;
    min-height: 14px;
    border-radius: 5px;
    font-size: 14px;
    max-height: 30px;
    padding-top: 3px !important;
    padding-left: 3px !important;
}

.region_label_profile {
    float: left;
}

.region_part {
    overflow: hidden;
}

.bio_button {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #990000;
    border: 1px solid white;
}

.bio_button:focus {
    box-shadow: 0 0 0 .1rem #990000;
    border-color: #990000;
}

.bio_button:active {
    background-color: white !important;
    color: #990000 !important;
    border: 1px solid #99000 !important;
    box-shadow: 0 0 0 .1rem #990000 !important;
    border-color: #990000;
}

.bio_button:hover {
    background-color: white;
    color: #990000;
    border: 1px solid #990000;
    border-color: #990000;
    border-radius: 5px;
}
.checked_img {
    height: 20px;
    width: 20px;
    margin-right: 2px;
    margin-bottom: 3px;
}
.about_container{
  padding-left: 15px;
  padding-right: 15px;
}
.profile_row {
    background-color: #cccccc;
    padding: 2px 12px;
    border-radius: 2px;
    text-align: right;
}
.tab_container_register{
 padding-left: 10px ;
 padding-right: 10px;
}
.far.fa-trash-alt{
  position: relative;
  left:1px;
  top: 2px;
}
.far.fa-trash-alt:hover{
  color: #990000;
}
.far.fa-trash-alt:focus{
  color: #990000;
}
.far.fa-trash-alt:active{
  color: #990000;
}
.far.fa-trash-alt:link{
  color: #990000;
}
#price_form{
  padding-left: 25px;
}
#price_form input{
  border-left: 1px solid black;
}
.table_filter {
    margin: 0;
    font-size: 14px !important;
}

.sidebar_p {
    margin: 10px;
}

.sidebar_text {
    margin-top: 50px;
    text-align: left;
}

.validation {
    color: black;
    margin-top: 100px;
}

.sidebar_text h1 {
    text-decoration: underline;
    color: white;
}

.cleaner {
    clear: both;
}

.upload_size {
    margin-bottom: 0;
}

.profile_description {
    border: 1px solid #cccccc;
    width: 75%;
    padding: 17px;
    padding-bottom: 25px;
    text-align: left;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    -webkit-box-shadow: 0px 9px 58px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 58px -27px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 58px -27px rgba(0,0,0,0.75);
    }

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: white;
    color: #990000;
    border-radius: 3px;
}

.tz-gallery {
    padding: 30px;
}

.tz-gallery .lightbox img {
    /*width: 100%;*/
    margin-bottom: 30px;
    transform: scale(1.02);
    transition: transform .3s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.price_left {
    float: left;
    text-align: left;
}

.price_right {
    float: left;
    text-align: left;
}

.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.mobile_h1 {
    display: none;
}
.vertical-tabs{
  margin-top: 40px;
}
@media(max-width: 768px) {
    body {
        padding: 0;
    }
    .container.gallery-container {
        border-radius: 0;
    }
    .h1-responsive.font-weight-bold.text-center.my-5{
      margin-top: 6.2rem !important;
    }
    .search-field{
      margin-bottom: 3px;
    }
    .vertical-tabs{
      margin-top: 90px;
    }
}

.gallery_size {
    border: 3px double #bfbfbf;
    width: 190px;
    height: 260px;
}

.filters_add {
    padding: 5px;
    margin: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 13px;
}
.del_btn_gal{
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

}
.gallery_pic{
  text-align: center;
  margin-bottom: 20px;
}
.filter_btn {
    margin-left: auto;
    margin-right: auto;
    background-color: #990000;
    border: 1px solid white;
}
.fil_btn_pr{
  margin-left: 25px;
}
.filter_btn:focus {
    box-shadow: 0 0 0 .1rem #990000;
}

.filter_btn:hover {
    background-color: white;
    color: #990000;
    border: 1px solid #990000;
}

.chn_pass{
  width: 30%;
  margin-left: 5px;
  margin-bottom: 13px;
}
.chn_pass input{
  height: 25px !important;
}
/* PRICE */


/*Fun begins*/

.tab_container_price {
    width: 80%;
    margin: 0 auto;
    padding-top: 63px;
    margin-bottom: 30px;
    position: relative;
}

.tab_container_price>input {
    clear: both;
    padding-top: 10px;
    display: none;
}

.tab_container_price>section {
    clear: both;
    padding-top: 10px;
    display: none;
}

.label_tab {
    font-weight: 700;
    font-size: 26px;
    display: block;
    float: left;
    width: 50%;
    padding: .92em;
    color: #4d4d4d;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
    margin-bottom: 0;

}
.login-form.register_form h2{
  font-size: 1.6rem !important;
}
.label_tab {
    font-weight: 700;
    font-size: 28px;
    display: block;
    float: left;
    width: 50%;
    padding: .47em;
    color: #4d4d4d;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

.tab_container_register {
    width: 80%;
    margin: 0 auto;
    padding-top: 63px;
    position: relative;
}

.tab_container_register>input {
    clear: both;
    padding-top: 10px;
    display: none;
}

.tab_container_register>section {
    clear: both;
    padding-top: 10px;
    display: none;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}
.tab_container_price .tab-content p{
  text-align: center;
}
.tab_container_price .tab-content p,
.tab_container_price .tab-content h3,
.tab_container_price .tab-content h5,
.tab_container_price .tab-content table {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container_register .tab-content form,
.register_form {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}
.profile_input {
    width: 80%;
}
.register_form {
    margin: 15px auto;
    border-radius: 12px;
}
.register_form > form {
    border-radius: 12px;
}
.form-w-r > form {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tab_container_price .tab-content h3 {
    text-align: center;
}

.tab_container_register .tab-content h3 {
    text-align: center;
}

.profile_button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d9d9d9;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.tab_container_price [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: inset 0 3px #990000;
    font-family: 'Poppins', sans-serif;
}

.tab_container_register [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: inset 0 3px #990000;
    font-family: 'Poppins', sans-serif;
}

.tab_container_price [id^="tab"]:checked+label .fa {
    color: #0CE;
}

.tab_container_register [id^="tab"]:checked+label .fa {
    color: #0CE;
}

.tab_container_price>label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

.tab_container_register>label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

.filter_btn:active {
    background-color: white !important;
    color: #990000 !important;
    border: 1px solid #990000 !important;
    box-shadow: 0 0 0 .1rem #990000 !important;
}

#footer {
    padding-bottom: 1.2rem !important;
    padding-top: 1.2rem !important;
}

.footer-title {
    color: white !important;
}


/*Media query*/

@media only screen and (max-width: 930px) {
    .label_tab span {
        font-size: 22px;
    }
    .label_tab .fa {
        font-size: 20px;
    }
    .price_girl_pic {
    margin-bottom: 1px;
    height: 19px;
    width: 17px;
    margin-right: 3px;
}
}

@media only screen and (min-width: 1185px) {
    .new-girls {
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    .login-navbar {
        display: none;
    }
    .filter_lists {
      margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1184px) {
    .label_tab span {
        /*display: none;*/
        font-size: 1.4rem;
        text-align: center;
    }
    .tab_container_price .tab-content h3 {
        font-size: 21px;
    }
    .tab_container_price .tab-content p{
      font-size: 15px;
    }
    .th_price{
      font-size: 15px;
    }
    .navbar-brand {
        margin: 0 auto;
    }
    .card-img-top {
        height: 370px;
    }

    .price_girl_pic {
    margin-bottom: 0px;
    height: 22px;
    width: 20px;
    margin-right: 3px;
}


    .label_tab .fa {
        font-size: 16px;
    }
    .tab_container_price {
        width: 97%;
        margin-top: 60px;
    }
    .label_tab {
        padding:.50em;
    }
    .th_profile {}


}
@media only screen and (max-width: 1199px) {
  .small_phone {
      display: none;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: .55rem .6rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.icon-m-location {
    color: #990000;
    margin-right: 3px;
    font-size: 14px;
}
  .new-girls {
      -ms-flex: 0 0 53.333333% !important;
      flex: 0 0 53.333333% !important;
      max-width: 53.333333% !important;
  }
  .big-img {
      width: 95%;
      height: 340px;
      margin-left: 10px;
      margin-right: 10px;
  }
  .big_phone {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  .img-holder.new-girls {
      padding: 10px;
      padding-left: 20px;
  }
}
@media only screen and (min-width: 992px) {
    .login-navbar {
        display: none;
    }
    .table_profile_tab .tab-content.py-4
    {
      margin-right: 20px !important;
    }
      .table_profile_tab > .nav.nav-tabs{
        margin-right: 20px !important;
      }
    .members_li{
      margin-left: 3px;
    }
    .mob_live {
        display: none;
    }
    .desk_live {
        display: block;
    }
    .modal-dialog.modal-lg {
        height: 600px !important;
        max-width: 630px !important;
    }
    .slide-down-list {
        display: block !important;
    }
    .filter_lists .dropdown.text-center.slide-down > p{
      display: none;
    }
    .list-group > h1{
        border-bottom-left-radius: 0 ;
        border-bottom-right-radius: 0 ;
    }
}

.angle-down-div {
    display: none;
}
.line_img{
  height: 26px;
  width: 1px;
  margin-top: 7px;
}
.h3pri{
  margin-left: 25px;
}
@media only screen and (max-width: 991px) {
    .login-navbar {
        display: block;
    }
    #price_form{
      padding-left: 0;
    }
    .price-table{
      margin-left: auto;
      margin-right: auto;
    }
    .price_div{
      text-align: center;
    }

    .h3pri{
      text-align: center;
    }
    .div_btn_sbm{
      text-align: center;
      margin-left: 0;
    }
    .tog_sp{
      margin-top: 5px;
    }
    .li_mar{
      margin-right: 0;
    }
    .clubs_row {
        margin-top: 20px;
    }
    .line_img{
      display: none;
    }
    .nav-item.active {
        background: #e0006c;
        background-color: #990000;
    }
    .nav-item:active{
      padding-left: 0 !important;
    }
    .nav-item .nav-link{
      padding-left:4px !important;
    }
    .nav-item:hover{
      padding-left: 0 !important;
    }
    .nav-item:focus{
      padding-left: 0 !important;
    }
    .nav-item:link{
      padding-left: 0 !important;
    }

    .aside-search h1 {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 4px;
   }
   .aside-search i {
     font-size:18px;
   }
    .list-group{
      border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    }
    .list-group > h1{
      border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    }
    .list-group.online-girls{
      border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    }

    .img_profile {
        margin-top: 60px !important;
    }
    .aside-search:first-of-type {
        margin-top: 115px !important;
    }
    .tab_container_register {
        margin-top: 60px !important;
    }
    .aside-search>.aside-search {
        margin-top: 30px !important;
    }
    .mob_live {
        display: block;
    }
    .desk_live {
        display: none;
    }
    .mobile_h1 {
        display: block;
        color: black;
    }
    .desk_h1 {
        display: none;
    }
    .angle-down-div {
        display: block;
        cursor: pointer;
    }
    .angle-down-div>i:hover {
        color: rgb(255, 122, 122);
    }
    .slide-down-list {
        display: none;
    }
    .cr-boundary {
        height: 430px !important;
    }
    .cr-viewport {
        height: 430px !important;
    }
}

@media only screen and (max-width: 745px) {
    .big-img {
        width: 102%;
        height: 380px;
        margin: 0 !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .croppie-container .cr-slider-wrap {
        width: 75%;
        margin: 15px auto;
        margin-left: 85px !important;
        margin-right: auto !important;
        text-align: center;
    }
    .card-title.new_girls_h4{
      text-align: center;
      margin-bottom: 5px;
    }
    .card-title.new_girls_h4{
      margin-bottom: 3px !important;
    }
    .modal-dialog.modal-lg {
        height: 500px !important;
    }
    .cr-boundary {
        width: 460px !important;
        height: 490px !important;
    }
    .cr-viewport {
        width: 390px !important;
        height: 490px !important;
        margin-right: 35px !important;
        margin-left: 35px !important;
    }
    .card-img-top {
        height: auto;
    }
    .new-girl-holder {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .img-holder.new-girls {
        padding: 0;
        padding-left: 0;
    }
    .new_girls_row {
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
        width: 100%;
    }
    .row_margin {
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: block !important;
    }
    .new-girls {
        -ms-flex: 0 0 98.423333% !important;
        flex: 0 0 98.423333% !important;
        max-width: 98.423333% !important;
    }
    .small_phone {
        display: none;
    }
    .img-holder.new-girls {
        padding: 0px;
    }
}
@media only screen and (max-width: 1134px) and (min-width:746px) {

    .modal-dialog.modal-lg {
        height: 500px !important;
        width: 500px !important;
    }
    .modal-content{
      width: 500px !important;
    }
    .croppie-container .cr-slider-wrap {
        width: 75%;
        margin: 15px auto;
        margin-left: 100px !important;
        margin-right: auto !important;
        text-align: center;
    }
    .cr-boundary {
        width: 460px !important;
        height: 490px !important;
    }
    .cr-viewport {
        width: 400px !important;
        height: 490px !important;
        margin-right: 30px !important;
        margin-left: 30px !important;
    }
}
/*Content Animation*/

@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/*FOOTER START///////////////////*/

.footer1 {
    background-color: black;
    color: white;
}

.footer1 h2 {
    margin: 5px;
    padding: 8px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.footer1 a {
    color: white;
}

.footer1 a:hover {
    color: blue;
}

.footer1 p {
    padding-top: 2px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.footer1 h2 {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid white;
}


/*==========================footer2===========================*/

.footer2 {
    background-color: #e6e6e6;
    color: black;
}

.footer2 p {
    margin: 8px;
    padding: 8px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.myframegmap {
    border: 3px solid #f6f5f0;
    border-radius: 5px;
    height: 130px;
    width: 95%;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin-left:13px;
}
.myframegmap_profile {
    border: 3px solid #f6f5f0;
    border-radius: 8px;
    height: 130px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin-left:27px;
}
#textbox{
  background-color: black;
  color:white;
  border-radius: 8px;
  padding-left: 5px;
}
#textbox::placeholder{
  color: #d9d9d9;
}
.li_search{
  margin-top:20px;
  background-color:black;
  background:black;
  margin-left: 30px;
}
.li_search > input{
  width: 80%;
}
.li_search > p {
  display: none;
}
.search_img{
  width: 24px;
  height: 24px;
}
/* LOGIN */

.login_avatar {
    height: 38px;
    width: 38px;
}

.menu_nav {
    right: 0;
    left: auto;
    min-width: 440px;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    background-color: #333333;
    border: 3px double #bfbfbf;
}

.nav_login_text {
    color: white;
}

.menu_nav h2 {
    color: white;
}
#profile_picture {
    font-size: 14px;
}
@media only screen and (max-width: 456px) {
    .menu_nav {
        right: 0;
        left: auto;
        min-width: 340px;
        background-color: #333333;
        border: 3px double #bfbfbf;
        padding: 10px;
        border-radius: 10px;
    }
    .online_btn{
      bottom: 8px !important;
    }
    .label_tab {
        padding:.25em;
    }
    .label_tab span {
    font-size: 20px;
    }
    .price_girl_pic {
    margin-bottom: 3px;
    height: 18px;
    width: 16px;
    margin-right: 3px;
}
    .text-center.small {
    margin-top: 13px;
    margin-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
      }
    .nav_item_profile a {
        font-size: 13px;
        font-weight: 500;
        padding: .2rem .5rem;
    }
    .table_profile_tab {
        margin-top: 10px;
    }
    .login-form {
        width: 270px !important;
    }
    #profile_picture{
      font-size:14px;
    }
    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
        float: left;
    }
    .navbar.navbar-expand-lg.navbar-dark.fixed-top {
        width: 100%;
    }
    .register_form .panel.panel-default {
        overflow: scroll;
    }
    .col-md-3.text-center.contact_row_right{
      font-size: 12px;
    }
}
.register_form .panel.panel-default {
    overflow: scroll;
}

.serv_col{
  padding-right: 0;
  padding-left: 35px;
}
.serv_col_two{
  padding-left: 30px;
  padding-right: 0;
}
@media only screen and (max-width: 767px) {
    .girl_card_phone {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .aside-search:first-of-type {
        margin-top: 105px !important;
    }
    .mobile_fil > .dropdown{
      border-bottom: 1px solid #cccccc;
      padding-bottom: 2px;
    }

    .foot{
      margin-bottom: 30px;
    }
    .login_container{
      margin-top: 130px;
    }
    .myframegmap {
    height: 160px;
  }
  .hhh{
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
    .tab_container_price {
        margin-top: 50px;
    }
    .checked_img {
    height: 16px;
    width: 16px;
    margin-right: 2px;
    margin-bottom: 3px;
   }
   .serv_col{
     padding-right: 0;
     padding-left: 25px;
   }
   .serv_col_two{
     padding-left: 20px;
     padding-right: 0;
   }
   .break{
     font-size: 14px;
   }
    .profile_input {
        width: 80%;
        padding-left: 5px;
        border-radius: 5px;
    }
    .filter_lists {
      margin-top: 16px !important;
      margin-bottom: 16px !important;

    }
    .aside-search>.aside-search {
        margin-top: 16px !important;
    }
    .card-title a {
        color: #990000;
        font-size: .9rem;
        font-family: 'Poppins', sans-serif;
    }
    .card-title.new_girls_h4 a{
      color: #990000;
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;

    }

    .col-lg-9.new_girls_wrapper > .top-filters{
      margin-top: 30px;
    }
    .tab_container_register {
        width: 100%;
        margin: 0 !important;
        margin-top: 90px;
        position: relative;
    }
    .register_form_tab {
        padding: 0 !important;
    }
    .register_form_tab form {
        padding: 20px !important;
    }
    .filter_search_ad p {
        margin-left: 50px;
        margin-bottom: 5px;
    }
    .tr_profile {
        width: 100%;
    }
    .profile_table {
        width: 360px;
    }
    .table.profile_table{
      padding-left: 5px !important;
    }
    .card-img-top {
        height: 300px;
    }
    .bio_form_profile {
        width: 100%;
        float: left;
        min-height: 20px;
        border-radius: 5px;
        font-size: 14px;
        padding: 0;
    }

}

.avatar_login_a {
    padding: 0;
    border-color: black !important;
    color: white;
    font-size: 10px;
}

.avatar_login_a p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    margin-top: 1px;
}

.pull-right {
    float: right;
}

.filter_search_ad {
    padding: 5px;
}

.aa {
    background-color: #1957b2 !important;
    color: white;
    border-radius: 3px !important;
    border: 2px solid #103670;
}
.btn-cancel{
  border: 2px solid #808080;
}
.aa:hover {
    background-color: #367be2 !important;
    color: white;
    border-radius: 3px !important;
    border: 2px solid #103670;
}

.p_footer {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
}
.footer1 a:hover{
  color:#990000;
}
.toggler_nav{
  border-radius: 66px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid white !important;
}

.toggler_nav:link {
    border: 2px solid white;

}
.menu_p{
  color:white;
  font-size:10px;
  margin-bottom:0;
  text-align: center;
  display: none;
}
/* unvisited link, same as regular 'a' */

.toggler_nav:hover {
    border: 2px solid white;
}

.myframegmap{
  margin-left: auto;
  margin-right: auto;
}

/* mouse over link */

.toggler_nav:focus {
    border: 2px solid white;
    outline: none;
}

.toggler_nav:focus-within {
    border: 2px solid white;
}
.hrc{
  color:black;
}

/* link has focus */

.toggler_nav:active {
    border: 2px solid white;
}


/* selected link */

.toggler_nav:visited {
    border: 2px solid white;
}


/* visited link */

.h5_login {
    text-align: center;
    font-size: 16px;
    margin-top: 2px;
}

.login_button {
    margin-bottom: .5rem;
}

.sign_up_button {
    color: white !important;
    background-color: #003300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

.sign_up_button:hover {
    color: white !important;
    background-color: #006600;
}

.login_photo {
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    margin-bottom: 0 !important;
}

.filter_lists {
    list-style-type: none;
    background-color: #990000;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 45px -17px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 45px -17px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 45px -17px rgba(0, 0, 0, 0.9);
    width: 100%;
    margin-top: 60px;
    border: 1px solid hsl(0, 0%, 93%);
}

.filter_lists>li {
    float: left;
    padding: 10px 12px;
}
.last_profile_tab{
  margin-left: 50px;
}
.filter_lists>.dropdown {
    height: 30px !important;
}

.filter_lists_bottom>li {
    float: left;
}
.form-group.has-search input{
  border-radius: 3px;
}
.filter_lists p {
    margin: 0;
    color: black;
}

.filters_div {
    margin-top: 60px;
    margin-bottom: 5px;
}

.girls_row {
    margin-top: 15px;
}

.filters_first {
    margin-right: 20px;
    height: inherit;
    margin-top: 4px;
}

.filters_first p {
    background-color: white;
}

.filters_btn {
    background-color: #990000 !important;
    color: white !important;
    border-radius: 3px;
    font-size: 14px !important;
    padding: .200rem .500rem !important;
    min-height: 30px !important;
    font-weight: 600;
}

.filters_btn:hover {
    background-color: white !important;
    color: #990000 !important;
    box-shadow: none !important;
    text-decoration: none;
    text-decoration-color: #990000;
}

.filters_btn:focus {
    background-color: white !important;
    color: #990000 !important;
    box-shadow: none !important;
}

.filters_btn:active {
    background-color: #990000 !important;
    color: white !important;
    box-shadow: none !important;
}

.filt {
    background-color: white !important;
    padding: 0;
}

.filt a {
    /* color: black !important; */
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.filt li {
    color: black;
    border-bottom: 1px solid #e6e6e6;
}

.filt li:hover {
    color: white !important;
    background-color: #990000 !important;
}

.filt li:hover>.filt a {
    color: white !important;
}

.filt span {
    font-size: 13px;
    margin-bottom: 2px;
}

.linija_login {
    width: 10px;
    height: 40px;
}

.small {
    font-size: 14px;
    font-weight: bolder;
    margin-top: 8px;
}

.login_avatar_photo {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.login_div_photo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login_container {
    -webkit-box-shadow: -12px 24px 102px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -12px 24px 102px -20px rgba(0, 0, 0, 0.4);
    box-shadow: -12px 24px 102px -20px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
}
.login_container > form {
  border-radius: 12px;
  border-bottom-left-radius:0;
  border-bottom-right-radius: 0;
}
.filters_div_bottom {
    margin-left: 2px;
}
.login_container > form h2 {
}
.filters_bottom_btn {
    background-color: #990000 !important;
    color: white !important;
    border-radius: 12px;
    font-size: 14px !important;
    padding: .200rem .500rem !important;
    min-height: 30px !important;
    opacity: 1 !important;
    text-shadow: none !important;
}

.filter_lists_bottom {
    list-style-type: none;
    padding-left: 0;
    border-radius: 5px;
    padding-right: 20px;
    margin-bottom: 0 !important;
    margin-top: 5px;
}

.filters_first_bottom {
    color: black;
    margin-right: 15px;
}

.filters_first_bottom p {
    margin-bottom: 0;
    margin-top: 5px;
}

.filters_bottom_btn::after {
    border: 0 !important;
}

.filters_bottom_btn span {
    margin-left: 2px;
}

.close:hover {
    background-color: #b30000 !important;
}

.search_fil>.form-control {
    min-height: 30px !important;
    width: 120px !important;
    right: 5px;
    padding: 0 !important;
    padding-left: 10px !important;
    margin-left: 25px;
    border-radius: 5px;
}

.last_li {
    padding-right: 0 !important;
}

.new_girls_h4 {
  text-align: center;
    margin-bottom: 18px !important;
    margin-top: 9px !important;
}

.status_home_girl {
    padding: 3px;
}

.h4_home_card {
    margin-bottom: 3px !important;
    text-align: center;
}

.club_img {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.plus_photo {
    float: right;
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
}

.live_girl_pic {
    height: 31px;
    width: 31px;
    float: left;
    border-radius: 15px;
    margin-right: 10px;
    border: 1px solid #cccccc;
}

.live_girl_a>p {
    margin-bottom: 0 !important;
    padding-top: 4px;
    font-size: 15px;
}

.live_girl_a {
    font-size: 15px;
}

.side_collapse {
    flex-basis: 0% !important;
}

.new_girl_h6 h6 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 2px;
}

.new_girl_h6 {
    /* padding-left: 0 !important; */
    /* border-left: 3px double #cccccc; */
}

.new_girl_last_h6 {
    border-bottom: 0 !important;
}

.absolute {
    position: absolute;
    bottom: 5px;
    right: 0;
    margin-right: 1rem;
    min-height: 30px !important;
    font-size: 14px !important;
}

.description_h6_new {
    padding-left: 2px;
    padding-right: 2px;
    font-size: .9rem !important;
}

.mob_live h1 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-bottom: 2px !important;
}

@media only screen and (max-width: 470px) {
    .modal-dialog.modal-lg {
        height: 450px !important;
        max-width: 100% !important;
    }
    .profile_h3 {
    margin-right: auto;
    margin-left: auto;
    font-size: 1.55rem;
}
    .card-img-top {
        height: 280px;
    }
    .profile_table {
        width: 345px;
        padding-left: 10px !important;
    }
    .cr-boundary {
        width: 320px !important;
        height: 460px !important;
    }
    .cr-viewport {
        width: 300px !important;
        height: 460px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

.about_container > .section-title{
  margin-bottom: 30px !important;
}
.tr_profile > .price_td{
  text-align: right !important;
  padding-bottom: 3px !important;
  padding-top: 10px !important;
}
.tr_profile > .th_price{
  padding-bottom: 1px !important;
  padding-top: 11px !important;
}
@media only screen and (max-width: 991px) {
    .tab_container_register {
        margin-top: 60px !important;
    }
    .menu_p{
      display: block;
    }
    .filter_lists p {
    margin-top:8px;
    color: black;
}
    .table.profile_table{
      margin-left: auto;
      margin-right: auto;
    }
    .checked_img {
        height: 20px;
        width: 20px;
        margin-right: 2px;
        margin-bottom: 3px;
    }
    .mb-3.profile_h3{
      text-align: center;
    }

    .myframegmap_profile{
      margin-left: auto;
      margin-right: auto;
    }
    .li_search > input{
      display: none;
    }
    .li_search{
      margin-right: 10px;
      padding-top: 10px;
    }
    .li_search > img{
      height: 32px;
      width: 32px;
    }
    .li_search > p{
      display: block;
      color: white;
      font-size: 10px;
    }
    .filter_lists {
      margin-top: 30px !important;
      margin-bottom: 30px !important;
    }
    .row.girls_row {
      margin-top: 0 ;
    }
    .login_avatar_comp{
      display: none;
    }
    .about_container .col-6{
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .about_container .col-6 h3{
      margin-bottom: 5px !important;
    }
    .filter_lists {
      border:2px solid #999999;
    }
}
@media only screen and (max-width:520px){
  .about_container > .section-title{
    margin-top: 120px !important;
    font-size: 2.2rem;
    margin-bottom: 20px !important;
  }
}
@media only screen and (max-width: 767px) and (min-width:520px){
  .card-img-top {
    height: 350px;
  }
  .about_container > .section-title{
    margin-top: 80px !important;
    font-size: 2.2rem;
    margin-bottom: 20px !important;
  }
}
@media only screen and (max-width: 991px) and (min-width:769px){
  .aside-search:first-of-type {
    margin-top: 65px !important;
}
.img_profile {
  margin-top: 15px !important;
}
}
@media only screen and (max-width: 991px) and (min-width:768px){
  .card-img-top {
    height: 410px;
  }
  .girl_card_phone{
    padding-left: 25px;
    padding-right: 25px;
  }
  .abcd{
    margin-left: 49px;
  }
  .about_container > .section-title{
    margin-top: 60px !important;
    font-size: 2.2rem;
    margin-bottom: 20px !important;
  }
  .last_profile_tab{
    margin-left: 220px;
  }
}
@media only screen and (max-width: 470px) and (min-width:455px) {
    .modal-dialog.modal-lg {
        height: 480px !important;
        max-width: 100% !important;
    }
    .cr-boundary {
        width: 410px !important;
        height: 470px !important;
        margin-left: 0px !important;
    }
    .cr-viewport {
        width: 390px !important;
        height: 470px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 454px) and (min-width:435px) {
    .modal-dialog.modal-lg {
        height: 480px !important;
        max-width: 100% !important;
    }
    .cr-boundary {
        width: 390px !important;
        height: 480px !important;
        margin-left: 0px !important;
    }
    .cr-viewport {
        width: 370px !important;
        height: 480px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 434px) and (min-width:415px) {
    .modal-dialog.modal-lg {
        height: 460px !important;
        max-width: 100% !important;
    }
    .cr-boundary {
        width: 370px !important;
        height: 460px !important;
        margin-left: 0px !important;
    }
    .cr-viewport {
        width: 350px !important;
        height: 460px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 414px) {
    .modal-dialog.modal-lg {
        height: 450px !important;
        max-width: 100% !important;
    }
    .cr-boundary {
        width: 330px !important;
        height: 440px !important;
    }
    .cr-viewport {
        width: 310px !important;
        height: 440px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 390px) and (min-width:371px) {
    .modal-dialog.modal-lg {
        height: 425px !important;
        max-width: 100% !important;
    }
    .cr-boundary {
        width: 310px !important;
        height: 425px !important;
        margin-left: 10px !important;
    }
    .cr-viewport {
        width: 290px !important;
        height: 425px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}

@media only screen and (max-width: 370px) {
    .modal-dialog.modal-lg {
        height: 420px !important;
        max-width: 100% !important;
    }
    .modal-footer {
          margin-top: 50px !important;
      }
    .ng_th{
      font-size:10px;
    }
    .modal-body {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .modal-header {
        padding-top: 5px !important;
        padding-bottom: 3px !important;
    }
    .cr-slider-wrap {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .cr-boundary {
        width: 300px !important;
        height: 400px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .cr-viewport {
        width: 280px !important;
        height: 400px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
}
.list-group-item:first-child {
     border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
     border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* Special styling for WebKit/Blink */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px double #808080;
    height: 18px;
    width: 18px;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -8px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}


/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
    border: 3px double #808080;
    height: 18px;
    width: 18px;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
}
.logo_about{
  margin-top:-20px;
}

/* All the same stuff for IE */

input[type=range]::-ms-thumb {
    border: 3px double #808080;
    height: 18px;
    width: 18px;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
}
.icon-m-location{
  color: #990000;
  position: relative;
  left:-1px;
  bottom: -0.13rem;
  font-size: 16px;
  margin-right: 6px;
}
.fas.fa-arrow-circle-down{
  color: #990000;
}
.btn.filters_btn:hover > .fas.fa-chevron-circle-down{
  color: #990000;
}
.btn.filters_btn:active > .fas.fa-chevron-circle-down{
  color: #990000;
}
.btn.filters_btn:focus > .fas.fa-chevron-circle-down{
  color: #990000;
}
.filter_lists {
  padding: 5px;
  border: 2px solid #999999;
}
.slide-down-list .col-md-2.col-sm-4.col-6{
  text-align: center;
}
.filt a {
  color: black;
  font-size: 14px;
}
.filt > li:hover > a {
  color: white;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .new-girl-holder{
        -ms-flex: 0 0 95.666667%;
        flex: 0 0 95.666667%;
        max-width: 95.666667%;
        margin-left: auto;
        margin-right: auto;
    }
    .chn_pass{
      width: 40%;
    }

}
@media only screen and (max-width: 415px) {
    .big-img{
      height: 365px;
    }
    .img-holder.new-girls.col-md-7{
      margin-left: 0 !important;
    }
    .col-lg-9.new_girls_wrapper{
      padding-right: 45px;
    padding-left: 45px;
    }
    .filter_lists .dropdown{
      text-align: left;
    }
    .video{
      margin-left: 30px;
      border: 1px solid #ccc;
      width:260px;
      height: 190px;
      margin-left: auto;
      margin-right: auto;
    }
}
@media only screen and (min-width: 416px) and (max-width:470px) {
    .big-img{
      height: 410px;
    }
    .col-lg-9.new_girls_wrapper{
      padding-right: 55px;
    padding-left: 55px;
    }
}
@media only screen and (min-width: 471px) and (max-width:550px) {
  .big-img{
    height: 430px;
  }
    .col-lg-9.new_girls_wrapper{
      padding-right: 65px;
    padding-left: 65px;
    }
}
@media only screen and (min-width: 551px) and (max-width:650px) {
  .big-img{
    height: 450px;
  }
    .col-lg-9.new_girls_wrapper{
      padding-right: 75px;
    padding-left: 75px;
    }
}
@media only screen and (min-width: 651px) and (max-width:745px) {
  .big-img{
    height: 460px;
  }
    .col-lg-9.new_girls_wrapper{
      padding-right: 80px;
    padding-left: 80px;
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .li_search > input{
      display: none;
    }
    .img-holder span {
      font-size: .6rem;
  }
  .register_form {
      margin-top: 20px;
  }
    .li_search {
      margin-top: 35px;
      margin-left: 40px;
    }
    .li_search > p{
      display: block;
      color: white;
      font-size: 10px;
    }
    .card-img-top{
      height: 200px;
    }
    .dot_girl{
      width: 15px;
      height: 15px;
    }
    #btn-getInTouch{
      width:17px !important;
      height: 20px !important;
    }
}
.ppagination-links {
  color: #990000;
}
@media only screen and (max-width: 767px) {
    .filter_lists {
      margin-top: 16px !important;
      margin-bottom: 16px !important;
    }
    .filters_btn{
      width: 100%;
    }
    .fil_tx{
      float: left;
    }
    .strelica_mob{
      float: right;
      margin-top: 3px;
    }
    .ser > .dropdown{
    border-top: 1px solid #cccccc;
    }
    .myframegmap{
      margin-left: auto;
      margin-right: auto;
    }
    .tab_container_register {
        margin-top: 60px !important;
    }
    .chn_pass{
      width: 50%;
    }
    .last_profile_tab{
      margin-left: 0;
    }

  }
  .filter_lists {
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
  }
.dropdown.text-center.slide-down > p{
  font-weight: 600;
  color: white;
}
.filter_lists .fas.fa-angle-down{
  color:white;
}
.fa.fa-navicon {
  color:white;
}
.fas.fa-chevron-circle-down{
  color:white;
}
.h4_home_card a {
  font-size: .9rem;
  font-weight: 600;
}
.row.new_girls_row.row_margin h6{
  border-bottom: 1px solid #d9d9d9;
}
.list-group-item.active-region > span{
  color: white;
}
@media only screen and (max-width: 296px) {
    .logo {
      width:140px!important;
    }
  }

.login_avatar_comp{
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  margin-right: 4px;
}

@media (max-width: 767px){
.col-sm-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width:  100%;
}
.filter_lists{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.filter_lists .dropdown{
  text-align: left;
}

}
.price_girl_pic{
  margin-bottom: 3px;
  height: 24px;
  width: 22px;
  margin-right: 3px;
}
.register_form h2.text-center{
  color: black !important;
}
.tz-gallery{
  width: 100%;
}
#counter_messages{
  display: none;
}
.text-center.small > span{
  background-color: #d9d9d9;
  padding: 2px;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
}
.text-center.small{
  margin-top: 13px;
  margin-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
}

.profile_table{
 border-collapse: separate;
 border-spacing: 0 8px;
 padding-left: 25px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;

}
.table td{
  border-bottom: 1px solid #e6e6e6;
}
@media only screen and (max-width: 392px) {


    .profile_table th.th_profile > span {
    top: 3px;
}
.bio_form_profile {
    font-size: 11px;
    padding-top: 1px !important;
}
    .online_btn {
    right: 15px !important;
 }
 .fil_btn_pr {
    margin-left: 15px;
}
}
@media only screen and (max-width: 991px) {
  .table.profile_table{
   padding-left: 0 !important;
  }
  .table_profile_tab{
    margin-top: 20px;
  }
  }
@media only screen and (max-width: 340px) {
    .menu_nav {
        right: 0;
        left: auto;
        min-width: 280px;
        background-color: #333333;
        border: 3px double #bfbfbf;
        padding: 10px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 520px) and (max-width: 768px) {

  .about_container > .section-title {
        margin-top: 120px !important;
        font-size: 2.2rem;
        margin-bottom: 20px !important;
      }
}
@media only screen and (max-width: 350px) {
    .card-img-top{
      height: 200px;
    }
  }
  #what-we-do{
  	background:#ffffff;
  }
  #what-we-do .card{
  	padding: 1rem!important;
  	border: none;
  	margin-bottom:1rem;
  	-webkit-transition: .5s all ease;
  	-moz-transition: .5s all ease;
  	transition: .5s all ease;
  }
  #what-we-do .card:hover{
  	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }
  #what-we-do .card .card-block{
  	padding-left: 50px;
      position: relative;
  }
  #what-we-do .card .card-block a{
  	color: #007b5e !important;
  	font-weight:700;
  	text-decoration:none;
  }
  #what-we-do .card .card-block a i{
  	display:none;

  }
  #what-we-do .card:hover .card-block a i{
  	display:inline-block;
  	font-weight:700;

  }
  #what-we-do .card .card-block:before{
  	font-family: FontAwesome;
      position: absolute;
      font-size: 39px;
      color: #007b5e;
      left: 0;
  	-webkit-transition: -webkit-transform .2s ease-in-out;
      transition:transform .2s ease-in-out;
  }
  #what-we-do .card .block-1:before{
      content: "\f0e7";
  }
  #what-we-do .card .block-2:before{
      content: "\f0eb";
  }
  #what-we-do .card .block-3:before{
      content: "\f00c";
  }
  #what-we-do .card .block-4:before{
      content: "\f209";
  }
  #what-we-do .card .block-5:before{
      content: "\f0a1";
  }
  #what-we-do .card .block-6:before{
      content: "\f218";
  }
  #what-we-do .card:hover .card-block:before{
  	-webkit-transform: rotate(360deg);
  	transform: rotate(360deg);
  	-webkit-transition: .5s all ease;
  	-moz-transition: .5s all ease;
  	transition: .5s all ease;
  }
.card-block{
  padding: 10px;
}
.about-card{
  margin-bottom: 10px;
  border-radius: 6px;
}
.card-block .card-title{
  margin-left: 10px;
  color: #990000;
}
.saldo{
  margin-top: 10px;
  font-size: 16px;
  padding-left: 3px
}
.far.fa-stop-circle{
  color: #990000;
  margin-left: 10px;
  background-color: white;
  border-radius: 35px;
  border: 1px solid #999999;
  font-size: 30px;
  padding: 3px;
}
.deac-wht{
  background-color: white;
  border-radius: 35px;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 40px;
  position: relative;
  bottom: 6px;
  font-size: 14px;
  font-weight: normal;
  left: 2px;
  color:#990000;
  border: 1px solid #999999;
}
.saldo_btn{
  padding:10px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 1px solid #cccccc;
  background-color: white;
  position: relative;
  left: 5px;
  bottom:6px;
  border-radius: 12px;
}
.saldo > span {
  font-size: 17px;
  /* background-color: #d9d9d9; */
  color: #990000;
  padding: 8px;
  border-radius: 5px;
}
.about-row-par{
  padding: 20px;
  margin-top: 20px;
}
@media (min-width: 1200px){
.container {
    max-width: 1200px;
}
.img_div_pro{
  padding-left: 0 !important;
  padding-right: 0 !important;
  -ms-flex: 0 0 30.5%;
  flex: 0 0 30.5%;
  max-width: 30.5%;
}

.table_profile_tab{
  -ms-flex: 0 0 69.5%;
  flex: 0 0 69.5%;
  max-width: 69.5%;
  padding-left: 0 !important;

}
.last_profile_tab {
    margin-left: 230px;
}
}
.madames-btn-fix > i.far.fa-play-circle {
  font-size: 30px;
  color:green;
}
.madames-btn-fix > i.far.fa-pause-circle {
  font-size: 30px;
  color:#cccc00;
}
.madames-btn-fix{
  background-color: white;
  border: 0 ;
  cursor: pointer;
}

.acc-def{
  border:1px solid #d9d9d9;
  border-radius: 35px;
  padding: 7px;
  -webkit-box-shadow: 0px 0px 83px -31px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 83px -31px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 83px -31px rgba(0,0,0,0.75);
}
.madames-btn-fix:hover{
  background-color: white;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #cccccc;
}
.madames-btn-fix:active{
  background-color: white;
  outline: 0;
}
#image-holder > img {
  width:180px;
  height: 180px;
  margin-left: 10px;
  border-radius: 5px;
  opacity: 0.5;
  border: 3px double #bfbfbf;
  -webkit-box-shadow: 0px 0px 82px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 82px -9px rgba(0,0,0,0.75);
box-shadow: 0px 0px 82px -9px rgba(0,0,0,0.75);
}
.madames-btn-fix:link{
  background-color: white;
  outline: 0;
}
.madames-btn-fix:visited{
  background-color: white;
  outline: 0;
}
.madames-btn-fix:focus{
  background-color: white;
  outline: 0;
}
.info-item-title{
  margin-bottom: 3px;
  font-size:16px;
}
.video-sett{
  padding-left: 10px;
  margin-top:20px;
}
@media only screen and (max-width: 376px) {
    .logo{
      height: 50px;
      width: 170px;
    }
    .vertical-tabs{
      margin-top: 75px;
    }
    .del_btn_gal{
      margin-left: 10px;
    }
    .sett_text{
        display: none;
    }
    .madames-msg {
    margin-top: 65px !important;
    }
    .h1-responsive.font-weight-bold.text-center.my-5{
      margin-top: 4.8rem !important;
    }
    .custom_profile_row {
    margin: 50px auto;
    margin-top: 30px;
    }
    .tab_container_price{
      padding-top: 45px;
    }
    .about_container > .section-title {
      margin-top: 95px !important;
    }
    .tab_container_register{
      margin-top: 30px !important;
    }
    .aside-search:first-of-type {
    margin-top: 82px !important;
      }
      .login-form {
          margin: 110px auto;
      }
      .register_form{
        margin: 20px auto;
      }
    .logo_about{
      margin-top:-10px;
      height: 60px;
      width: 205px;
    }
    .about-card h3{
      font-size: 1.5rem;
    }
    .section-title.mb-2.h1 > span {
      font-size: 23px;
    }
    .menu_nav {
        right: 0;
        left: auto;
        min-width: 340px;
        background-color: black;
        padding: 10px;
        border-radius: 10px;
    }
    .last_profile_tab{
       margin-left: auto;
       margin-right: auto;
    }
}
.th_price{
  text-align: center !important;
  border-top:0 !important;
  border-bottom: 0 !important;
  padding-left: 5px !important;
  padding-right: 0 !important;
}
@media only screen and (min-width: 746px) and (max-width:768px) {

    .card.new_girl_card .card-body.col-md-5{
      -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    }
    .madames-msg {
    margin-top: 85px !important;
    }
}
.search-input{
  min-height: 22px;
  font-size: 13px;
  width:84%;
  margin-right:0;
  float:left;
  padding-left: 8px;
}
.read_more{
  color: #990000;
}
.read_more:hover{
  color: #cc0000;
}
@media only screen and (max-width: 1184px) {
    .price_girl_pic {
    margin-bottom: 0px;
    height: 20px;
    width: 18px;
    margin-right: 3px;
}
}
@media only screen and (max-width: 930px) {
    .price_girl_pic {
    margin-bottom: 1px;
    height: 18px;
    width: 16px;
    margin-right: 3px;
}
}
@media only screen and (max-width: 456px) {
    .price_girl_pic {
    margin-bottom: 0px;
    height: 17px;
    width: 15px;
    margin-right: 3px;
}
.tab_container_price .tab-content h3 {
    font-size: 20px;
}
.checked_img {
    margin-bottom: .15rem;
}
.tab_container_price .tab-content p{
  font-size: 14px;
}
.th_price{
  font-size: 14px;
}
.price-table td input{
  max-width: 80px !important;
}
.price-table td select{
  max-width: 80px !important;
}

}
@media only screen and (max-width: 393px) {

.price-table td input{
  max-width: 70px !important;
}
.price-table td select{
  max-width: 70px !important;
}
.custom_profile_row .myframegmap_profile{
  width:250px;
  height: 125px;
}
}
@media only screen and (max-width: 363px) {

.price-table td input{
  max-width: 60px !important;
}

.online_btn {
right: 5px !important;
}
.fil_btn_pr {
margin-left: 5px;
}
.price-table td select{
  max-width: 60px !important;
}

}
@media only screen and (max-width: 333px) {
  .custom_profile_row .myframegmap_profile{
    width:200px;
    height: 100px;
  }
  .last_profile_tab{
     margin-left: 0;
  }
.price-table td input{
  max-width: 50px !important;
}
.price-table td select{
  max-width: 50px !important;
  font-size: 13px;
}

}
.ng_th {
    padding: .20rem !important;
    vertical-align: top;
    border-bottom: 1px solid #e6e6e6;
    font-size: 15px;
    max-width: 200px;
}
.dropdown-menu.filt.show{
  width:auto !important;
  min-width: 12rem !important;
}
.service_tab{
  max-height: 150px !important;
}
@media only screen and (max-width: 435px) {

  .croppie-container .cr-slider-wrap {
      margin: 15px auto;
      margin-left: auto !important;
      margin-right: auto !important;
      text-align: center;
  }
  .card-img-top {
      height: 260px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #009933;
}

input:focus + .slider {
  box-shadow: 0 0 1px #009933;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media only screen and (max-width: 770px) {
    .ng_th{
      font-size:13px;
    }
  }
@media only screen and (max-width: 370px) {
    .ng_th{
      font-size:12px;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 746px) {
    .ng_th {
        padding: .20rem !important;
        vertical-align: top;
        border-bottom: 1px solid #e6e6e6;
        font-size: 15px;
        max-width: 150px;
    }
    }

    @media only screen and (max-width: 1199px) and (min-width:992px) {
    .side_p_reg{
      font-size: 12px !important;
    }
    .icon-m-location {
        color: #990000;
        margin-right: 3px;
        font-size: 13px;
    }
    .table_profile_tab{
      padding-right: 0 !important;

    }
  }
  @media only screen and (max-width: 427px) {
    .checked_img {
    height: 14px;
    width: 14px;
    margin-right: 2px;
    margin-bottom: 3px;
   }
   .serv_col{
     padding-right: 0;
     padding-left: 25px;
   }
   .serv_col_two{
     padding-left: 20px;
     padding-right: 0;
   }
   .break{
     font-size: 13px;
   }
  }
  @media only screen and (max-width: 401px) {
    .checked_img {
    height: 13px;
    width: 13px;
    margin-right: 2px;
    margin-bottom: .2011rem;
   }

   .serv_col{
     padding-right: 0;
     padding-left: 20px;
   }
   .serv_col_two{
     padding-left: 15px;
     padding-right: 0;
   }
   .break{
     font-size: 12px;
   }
   .img-holder span{
     font-size: .7rem;
   }
  }
  @media only screen and (max-width: 356px) {
    .checked_img {
    height: 11px;
    width: 11px;
    margin-right: 2px;
    margin-bottom: 3px;
   }
   .img-holder span{
     font-size: .6rem;
   }
   .h4_home_card a {
    font-size: .8rem;
    font-weight: 600;
}
   .profile_table {
       width: 270px;
       padding-left: 5px !important;
   }
   .tr_profile>td {
       padding-left: 3px !important;
       font-size:12px !important;
   }
   .profile_table th {
   font-size:12px !important;
   }
   .serv_col{
     padding-right: 0;
     padding-left: 15px;
   }
   .serv_col_two{
     padding-left: 10px;
     padding-right: 0;
   }
   .break{
     font-size: 11px;
   }
  }
  @media only screen and (max-width: 356px) {
    .checked_img {
    height: 10px;
    width: 10px;
    margin-right: 2px;
    margin-bottom: 0px;
   }
 }
  @media only screen and (max-width: 322px) {
    .checked_img {
    height: 10px;
    width: 10px;
    margin-right: 2px;
    margin-bottom: 1px;
   }
   .serv_col{
     padding-right: 0;
     padding-left: 20px;
   }
   .serv_col_two{
     padding-left: 15px;
     padding-right: 0;
   }
   .break{
     font-size: 10px;
   }
  }
.search-input::placeholder{
  color:#b3b3b3;
  padding-left: 8px;
}
@media only screen and (max-width: 426px) {
  .read_more{
    white-space: nowrap;
  }
}
.lupa{
  padding-top:10px;
  padding-bottom: 9px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 13px;
  position:relative;
  color:#b3b3b3;
  background-color: #f2f2f2;
  margin-left: 0;
  border: 1px solid #ced4da;
  border-left: 0;
}
.search-input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  border-right: 0;
}
@media only screen and (max-width: 1199px) {

  .search-input::placeholder{
    color:#b3b3b3;
    padding-left: 8px;
    font-size: 11px;
    padding-top: 3px;
  }
  .gallery_pic{
    margin-right: 10px;
    margin-left: 10px;
  }
}
.has-search{
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 767px) {

  .search-input{
    margin-bottom:5px;
  }
  .has-search{
    margin-bottom: 4px !important;
  }
}
.has-search .form-control {
    padding-left: 1.775rem;
    min-height: 22px;
    font-size: 13px;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 1.775rem;
    height: 1.775rem;
    line-height: 2.175rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.price-btn-del{
  color:black;
  margin-bottom: 5px;
}
.price-btn-del:hover{
  color:#990000;
}
.price-btn-del:active{
  color:#990000;

}
.price-btn-del:link{
  color:#990000;

}
.price-btn-del:focus{
  color:#990000;
}
.price-btn-del:visited{
  color:#990000;

}
.aside-search .fas.fa-angle-down{
  padding-top: 2px;
}
.slide-down-list .fas.fa-angle-down{
  padding-top: 2px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem .75rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.list-group-item {
  padding-top: .83rem;
}
.side_p_reg{
  /* margin-bottom: 3px; */
}
.modal-b{

}
.deac-btn{
  background-color: #990000;
  color:white;
  border-radius: 30px;
  padding: 7px;
  padding-bottom: 9px;
  display: block;
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid #999999;
}
.hrc{
  color:black !important;
  padding: 0 !important;
}
@media only screen and (max-width: 466px) {
  .pause_text {
  padding-right: 20px;
  padding-left: 20px;
}
.madames-btn-fix > i.far.fa-pause-circle {
    font-size: 34px;
}
.madames-btn-fix > i.far.fa-play-circle {
  font-size: 34px;
}
.saldo_btn{
  padding: 5px;
padding-top: 7px;
padding-bottom: 7px;
}
.saldo > span {
  font-size: 14px;
}
.hrc{
  font-size: 15px;
}
.deac-btn{
  margin-left: 5px;
}
.deac-wht{
  font-size: 14px;
}
}
@media only screen and (max-width: 408px) {
  .pause_text {
  padding-right: 15px;
  padding-left: 15px;
}
.madames-btn-fix > i.far.fa-pause-circle {
    font-size: 30px;
}
.madames-btn-fix > i.far.fa-play-circle {
  font-size: 30px;
}
.saldo_btn{
  padding: 3px;
padding-top: 5px;
padding-bottom: 5px;
}
.saldo > span {
  font-size: 12px;
}
.hrc{
  font-size: 13px;
}
}
@media only screen and (max-width: 372px) {
  .pause_text {
  padding-right: 12px;
  padding-left: 12px;
}
.madames-btn-fix > i.far.fa-pause-circle {
    font-size: 26px;
}
.madames-btn-fix > i.far.fa-play-circle {
  font-size: 26px;
}
.saldo_btn{
  padding: 1px;
padding-top: 3px;
padding-bottom: 3px;
}
.saldo > span {
  font-size: 12px;
  padding: 3px;
}
.hrc{
  font-size: 13px;
}
.deac-btn{
  margin-left: 2px;
}
.deac-wht{
  font-size: 12px;
}
.far.fa-stop-circle {
    color: #990000;
    margin-left:5px;
    padding: 5px;
    font-size: 18px;
    background-color: white;
    border-radius: 35px;
}
}
.chn_pass_form{
  margin-bottom: 13px;
  margin-top: 8px
}
.abc{
  margin-top: 2.4rem !important;
}
.hhh{
  margin-bottom: 15px !important;
}
.p_gallery{
  padding-left: 30px;
  margin-bottom: 0;
}
.online_btn{
  /* border:4px solid #C8C8C8; */
  background-color: blue;
  border-radius: 35px;
  padding-top: 6px;
  padding-bottom: 3px;
  min-height: 55px;
  border: 1px solid #999999;
  float:right;
  position: relative;
  bottom: 15px;
  right: 30px;
}
.online_btn:hover{
  background-color: blue;
  border-radius: 35px;
  padding-top: 6px;
  padding-bottom: 3px;
  min-height: 55px;
  border: 1px solid #999999;
}
.online_btn:active{
  background-color: blue !important;
  border-radius: 35px !important;
  padding-top: 6px !important;
  padding-bottom: 3px !important;
  min-height: 55px !important;
  border: 2px solid #999999 !important;
}
.online_btn:focus{
  background-color: blue;
  border-radius: 35px;
  padding-top: 6px;
  padding-bottom: 3px;
  min-height: 55px;
  border: 1px solid #999999;
}
.online_btn:link{
  background-color: blue;
  border-radius: 35px;
  padding-top: 6px;
  padding-bottom: 3px;
  min-height: 55px;
  border: 1px solid #999999;
}
.on_on{
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: white;
  border-radius: 40px;
  position: relative;
  top: 7px;
  color:blue;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #999999;
}
.go_on{
  padding: 6px;
  position: relative;
  padding-right: 3px;
  padding-left: 3px;
  top: 8px;
  right: 7px;
  background-color: white;
  border-radius: 100px;
  color:blue;
  font-size: 17px;
  border: 1px solid #999999;
}
 .go_in_go{
   border: 2px solid blue;
   padding: 2px;
   padding-right: 4px;
   padding-right: 4px;
   border-radius: 30px;
   font-size: 16px;
   font-weight: bold;
   position: relative;
   bottom: .03223rem;
   left:.01rem;
 }
#guest_username{
  width: 60%;
}
@media only screen and (max-width: 392px){
.profile_table {
    width: 275px;
    padding-left: 0 !important;
}
.tr_profile>td {
    padding-left: 6px !important;
    font-size: 12px !important;
}
.mobile_td {
    padding-left: 6px !important;
    font-size: 12px !important;
}
.tr_profile .profile_input {
    font-size: 15px !important;
}
.mobile_td{
  position: relative;
  top:2px;
  left:1px;
}
.table.profile_table{
  padding-left: 0 !important;
}
.profile_table th {
font-size:12px !important;
}
}
@media only screen and (max-width: 336px) {
  .fil_btn_pr {
      font-size: 13px;
  }
  .go_in_go{
    font-size: 13px;
  }
  .on_on{
    font-size: 13px;
  }
  .go_on{
    padding: 4px;
    padding-left: 2px;
    padding-right: 3px;
  }
  .go_in_go{
    bottom: .07rem;

  }
}
.chat-on{
  position: relative;
  top: 2px;
  right: 2px;
}
.chat-off{
  position: relative;
  top: 2px;
  left: 2px;
}
.filt li:last-child {
    border-bottom: 0 !important;
    border-bottom-left-radius: .15rem;
    border-bottom-right-radius: .15rem;
}
.filt li:first-child {
    border-top-left-radius: .15rem;
    border-top-right-radius: .15rem;
}
.vertical-tabs{
    font-size:15px;
    padding:10px;
    color:#000
}
 .vertical-tabs .nav-tabs .nav-link{
    border-radius: 0;
    background:#990000;
    text-align:center;
    font-size: 16px;
    border:1px solid #424242;
    color:#fff;
    height:40px;
    width: 140px;
}
 .vertical-tabs .nav-tabs .nav-link.active{
    background-color:#ff4000!important;
    color:#fff;
}
 .vertical-tabs .tab-content>.active{
    background:#fff;
    display:block;
}
 .vertical-tabs .nav.nav-tabs{
    border-bottom:0;
    border-right:3px solid #000;
    display:block;
    float:left;
    margin-right:20px;
    padding-right:15px;
}
 .vertical-tabs .sv-tab-panel{
    background:#fff;
    height:274px;
    padding-top:10px;
}
@media only screen and (max-width: 420px){
  .titulo{font-size: 22px;}
  .card-img-top {
      height: 240px;
  }
}
@media only screen and (max-width: 325px){
  .vertical-tabs{ padding:8px;}
}
.bor_btn{
  border-radius: 30px !important;
  border: .1rem solid grey;
}
.bor_btn:hover{
  border-radius: 30px !important;
  border: .1rem solid grey;
}
.card-body{
  background: rgb(204, 204, 204, 0.3);
}
@media only screen and (max-width: 396px) {
  .card-img-top {
  height: 210px;
}
  }
