<template>
	<div>
		<div class="row filters_div_bottom">
      <ul class="filter_lists_bottom" v-if="tags.length>0">
        <li class="filters_first_bottom">
          <div class="dropdown">
              <p>You choose:</p>
          </div>
        </li>

        <li v-for="filter in tags">
          <button type="button" class="close filters_bottom_btn" aria-label="Close" @click="removeFilter(filter)">{{filter.display_value}}
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      </ul>
    </div>
	</div>
</template>

<script>

//import {APP} from '../config'
import {EventBus} from '../main'
import Vue from 'vue'

export default {

	name: 'filterTags',

	props: {
    tags:{type:Object, default:null},
	},
	//['table', 'inputLabel', 'visible', 'relation', 'paginate'],
	data () {
		return {
      data: null,
      filters: []
		}
	},
	methods: {
	 	close: function () {
	  		this.show = false;
    },
    removeFilter(filter){
      //this.removeTag(filter);
      this.$emit('removeFilter', filter);
    },
		triggerEvent(e, id){
	      this.$emit('listingEvent', {e: e, id: id});
    },
    //Nije portebna funkcija zato sto kroz event parent ponovo salje prop koji ce da pregazi postojeci
    removeTag(filter){
      for(var key in this.filters)
      {
        if(this.filters[key].value !== 'undefined' && this.filters[key].value == filter.value)
        {
          Vue.delete(this.filters, key);
        }              
      }  
    },
		showData: function(){

		},

	},
	computed: {

	},
	watch: {
		
	},
	mounted(){
    var self = this;
    /* EventBus.$on('selected_filter', function (filter) {
      self.filters.push(filter);
    });
    EventBus.$on('deselect_filter', function (filter) {
      self.removeTag(filter);
    });
    EventBus.$on('reset_filter', function (filter) {
      console.log(filter);
      for(var key in self.filters)
      {
        if(self.filters[key].value !== 'undefined' && self.filters[key].value == filter.value)
        {
          Vue.delete(this.filters, key);
        }              
      }
    }); */
	},
	created() {  

		
	}
}

</script>

<style  scoped>

.filters_div_bottom{
  margin-left: 2px;
}
.filters_bottom_btn{
  background-color: #990000 !important;
  color: white !important;
  border-radius: 12px;
  font-size: 12px !important;
  padding: .200rem .500rem !important;
  min-height: 30px !important;
  opacity: 1 !important;
  margin-right: 5px;
}
.filter_lists_bottom{
  list-style-type: none;
  padding-left: 0;
  border-radius: 5px;
  padding-right: 20px;
  margin-bottom: 0 !important;
  margin-top: 5px;
}
.filters_first_bottom{
  color: black;
  margin-right: 15px;
}
.filters_first_bottom p{
  margin-bottom: 0;
  margin-top: 5px;
}
.filters_bottom_btn::after{
border:0 !important;
}
.filters_bottom_btn span{
margin-left: 2px;
}
.close:hover{
  background-color: #b30000 !important;
}

</style>