<template>
<div>
    <div class="row">
    <div class="col-lg-3 aside-search">
        <div class="list-group" id="regions">
            <h1 class="my-4 slide-down">
                City/Regions
                <div class="angle-down-div">
                    <i class="fas fa-angle-down"></i>
                </div>
            </h1>
            <div class="slide-down-list">
                <a v-for="region in filters.regions"
                @click.self.prevent="filterRegion(region.id, $event)"
                class="list-group-item "
                :href="base_url+'girls/regions/'+region.id">
                    <!-- <img class="sidebar_img" :src="base_url+'assets/images/LokacijaM.png'" alt=""> -->
                    <span class="icon-m-location"></span>
                    {{region.name}}
                </a>
            </div>
        </div>
        <!-- <slot name="sidebar"></slot> --><!-- <div slot="sidebar"> -->
        <div class="aside-search">
            <div class="list-group online-girls" id="online-girls">
                <h1 class="my-4 slide-down" >
                    Live girls
                    <div class="angle-down-div">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </h1>
                <div class="slide-down-list">
                    <a href="#"
                    v-for="online_girl in online_girls"
                    @click="chatAdapter(online_girl.id, online_girl.username, $event);" class="list-group-item live_girl_a">
                        <img class="live_girl_pic"
                        :src="'assets/images/'+ (online_girl.profile_photo ? 'girls/'+online_girl.profile_photo : 'default.jpg')" alt="">
                        <p style="float:left;">{{online_girl.username}}</p>
                        <img style="float:right;width:18px;height:23px;margin-top:4px;" class="" src="assets/images/chat5.png">
                        <div style="clear:both;"></div>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- /.col-lg-3 -->

    <div class="col-lg-9">
        <div class="filter_lists " id="filters">
        <div class="row">
            <div class="col-md-12" >
               <div class="dropdown text-center slide-down">
                    <p>Filters</p>
                    <div class="angle-down-div">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-down-list" >
            <div class="row">
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="dropdown">
                        <button class="btn filters_btn" type="button" data-toggle="dropdown">TS
                            <i class="fas fa-chevron-circle-down"></i></button>
                        <ul class="dropdown-menu filt">
                            <li><a href="#" @click.self.prevent="filterSingleSelection('ts', 1, '', $event)">Yes <i class="hidden far fa-check-circle"></i></a></li>
                            <li><a href="#" @click.self.prevent="filterSingleSelection('ts', 0, '', $event)">No <i class="hidden far fa-check-circle"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-6">
                    <div class="dropdown">
                        <button class="btn filters_btn" type="button" data-toggle="dropdown">Services
                            <i class="fas fa-chevron-circle-down"></i></button>
                        <ul class="dropdown-menu filt ">
                            <li v-for="service in filters.services.value">
                                <a href="#" @click="filterMultipleSelection('services', service.id, service.name, $event)">{{service.name}} <i class="hidden far fa-check-circle"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-6">
                    <div class="dropdown">
                        <button class="btn filters_btn" type="button" data-toggle="dropdown">Age
                            <i class="fas fa-chevron-circle-down"></i></button>
                        <ul class="dropdown-menu filt">
                            <li v-for="age in filters.age.value">
                                <a href="#" @click.self.prevent="filterSingleSelection('age', age, age, $event)">{{age}} <i class="hidden far fa-check-circle"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="col-md-2 col-sm-4 col-6">
                    <div class="dropdown">
                        <button class="btn filters_btn" type="button" data-toggle="dropdown">Services for
                            <i class="fas fa-chevron-circle-down"></i></button>
                        <ul class="dropdown-menu filt">
                            <li><a href="#">Man</a></li>
                            <li><a href="#">Couple</a></li>
                            <li><a href="#">Girl</a></li>
                            <li><a href="#">Orgy</a></li>
                        </ul>
                    </div>
                </div> -->

                <div class="col-md-2 col-sm-4 col-6">
                    <div class="dropdown">
                        <button class="btn filters_btn" type="button" data-toggle="dropdown">Hair
                            <i class="fas fa-chevron-circle-down"></i></button>
                        <ul class="dropdown-menu filt">
                            <li v-for="hair in filters.hairs.value">
                                <a href="#" @click.self.prevent="filterMultipleSelection('hairs', hair.id, hair.name, $event)">{{hair.name}} <i class="hidden far fa-check-circle"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-6">
                    <div class="dropdown">
                        <button class="btn filters_btn" type="button" data-toggle="dropdown">Type
                            <i class="fas fa-chevron-circle-down"></i></button>
                        <ul class="dropdown-menu filt">
                            <li v-for="type in filters.types.value">
                                <a href="#" @click.self.prevent="filterMultipleSelection('types', type.id, type.name, $event)">{{type.name}} <i class="hidden far fa-check-circle"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="col-md-2 col-sm-4 col-6">
                    <div class="dropdown">
                        <button class="btn filters_btn" type="button" data-toggle="dropdown">Sort by
                            <i class="fas fa-arrow-circle-down"></i></button>
                        <ul class="dropdown-menu filt">
                            <li>
                                <a href="#" @click.self.prevent="filterSingleSelection('order', 'desc', 'Newes first', $event)">Newest</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-md-2 col-sm-4 col-6 search-col">
                    <div class="search-field">
                        <input type="text" v-model="search_input" @keyup="search" name="keywords" class="form-control input-sm search-input" placeholder="Search">
                    </div>
                </div>

            </div><!-- row -->
        </div><!-- list -->
    </div>
    <filter-tags @removeFilter="removeSelectedFilter($event)" :tags="tags"></filter-tags>

    <div v-if="responseStatus" v-html="response"></div>
    <!-- <div v-else>
        <slot name="HomeIndex"></slot>
    </div> -->
    </div> <!-- col-9 -->
    </div><!-- /.row -->
</div>
</template>

<script>
//import {APP} from '../config'
import filterTags from "./filter_tags";
import { APP } from "../config";
import { EventBus } from "../main";

export default {
    name: "listing",
    components: {
        filterTags
    },
    props: {},
    //['table', 'inputLabel', 'visible', 'relation', 'paginate'],
    data() {
        return {
            _loader: null,
            base_url: window._m.base_url,
            response: "<strong>No results</strong>",
            search_input: null,
            responseStatus: false,
            pagination_start: 0,
            girls: null,
            online_girls: [],
            filters: {
                regions: [],
                ts: {
                    name: "TS"
                },
                age: {
                    name: "Age",
                    value: ["18-25", "25-35", "35-45", "45-55", "55+"]
                },
                services: {
                    name: "Services",
                    value: [] //Popunjava se u getData()
                },
                hairs: {
                    name: "Hair color",
                    value: []
                },
                types: {
                    name: "Type",
                    value: []
                },
                username:{
                    name: 'Username',
                    value: ''
                }
            },
            tags: [],
            selected_filters: {
                age: "",
                services: [],
                hairs: [],
                types: [],
                ts: "",
                order: "",
                region: "",
                username: ""
            },
            search_timer: null
        };
    },
    methods: {
        close: function() {
            console.log("test");
        },
        triggerEvent(e, id) {
            this.$emit("listingEvent", {
                e: e,
                id: id
            });
        },
        search(e){
            var _this = this;       
            if(this.search_timer){
                clearTimeout(this.search_timer);
                this.search_timer = null;
            }
            this.search_timer =  setTimeout( function(){
                _this.selected_filters.username = _this.search_input;
                _this.renderView();
            },800);
        },
        remove() {},
        filterRegion(value, event) {
            this._loader.style.display = 'block';
            let el = event.target;
            this.pagination_start=0;
            if (el.classList.contains("active-region"))
            {
                el.classList.remove("active-region");
                this.selected_filters['region'] = "";
            }
            else
            {
                let parent = el.parentElement;
                let active_elements = parent.querySelectorAll(".active-region");
                if (active_elements.length > 0)
                {
                    active_elements[0].classList.remove("active-region");
                }
                el.classList.add("active-region");
                this.selected_filters['region'] = value;
            }
            this.renderView();
        },
        filterSingleSelection(filter_name, value, name, event) {
            this._loader.style.display = 'block';
            let el = event.target.parentElement;
            let check = el.querySelector('.fa-check-circle');
            this.pagination_start=0;
            let filter = {
                    name: filter_name,
                    display_value: name,
                    value: value,
                    el: el
                };

            if (el.classList.contains("active-filter"))
            {
                el.classList.remove("active-filter");
                this.selected_filters[filter_name] = "";
                //EventBus.$emit("reset_filter", filter);
                //Ovde vracamo samo onaj filter u niz koji ima razlicit name od prosledjenog
                //(ukoliko je activ-filter nece vratiti izabrani filter tj. resetujemo tags)
                // zato sto je singleSelection
                this.tags = this.tags.filter(item => item.name != filter_name);
                check.classList.add('hidden');
            }
            else
            {
                let ul = el.parentElement;
                let active_elements = ul.querySelectorAll(".active-filter");
                if (active_elements.length > 0)
                {
                    let active_elements_check = active_elements[0].querySelector('.fa-check-circle');
                    active_elements[0].classList.remove("active-filter");
                    active_elements_check.classList.add('hidden');
                    this.tags = this.tags.filter(item => item.name != filter_name);
                }
                el.classList.add("active-filter");
                if (name != "") this.tags.push(filter);
                this.selected_filters[filter_name] = value;
                check.classList.remove('hidden');
            }

            this.renderView();
        },
        filterMultipleSelection(filter_name, value, name, event) {
            this._loader.style.display = 'block';
            let el = event.target.parentElement;
            let check = el.querySelector('.fa-check-circle');
            this.pagination_start=0;
            let filter = {
                name: filter_name,
                display_value: name,
                value: value,
                el: el
            };

            if (el.classList.contains("active-filter")) {
                el.classList.remove("active-filter");
                this.selected_filters[filter_name] = this.selected_filters[filter_name].filter(item => item !== value);
                this.tags = this.tags.filter(item => item.value !== value);
                check.classList.add('hidden');
                this.renderView();
            } else {
                el.classList.add("active-filter");
                check.classList.remove('hidden');
                //if(typeof value == 'string') value = value.toLowerCase();
                this.selected_filters[filter_name].push(value);
                this.tags.push(filter);
                this.renderView();
            }
        },
        renderView: function() {
            var self = this;
            if (self.selected_filters.services.length == 0) self.services = "";
            if (self.selected_filters.hairs.length == 0) self.hairs = "";

            AJAX.post({
                url: "ajax/getgirls/"+self.pagination_start,
                responseType: "text",
                data: {
                    age: self.selected_filters.age,
                    services: self.selected_filters.services,
                    hairs: self.selected_filters.hairs,
                    type: self.selected_filters.types,
                    ts: self.selected_filters.ts,
                    order: self.selected_filters.order,
                    region: self.selected_filters.region,
                    username: self.selected_filters.username
                }
            }).then(function(obj) {
                //console.log(obj);
                self.responseStatus = true;
                self.response = obj;
                self._loader.style.display = 'none';
            });
        },
        triggerEvent(event_name, data){

        },
        removeSelectedFilter(filter) {
            this._loader.style.display = 'block';
            if(typeof this.selected_filters[filter.name] == "string")
            {
                this.selected_filters[filter.name] = '';
                this.tags = this.tags.filter(item => item.name != filter.name);
            }
            else
            {
                this.selected_filters[filter.name] = this.selected_filters[filter.name].filter(item => item !== filter.value);
                // Zbog mogucnosti podudaranja id-jeva morama proveru value-a da vezemo za njemu pripadajuci filter name
                this.tags = this.tags.filter(item => {
                    if (item.name == filter.name && item.value == filter.value)
                    {
                        return false;
                    }
                    else return true
                });
            }
            filter.el.classList.remove("active-filter");
            filter.el.querySelector('.fa-check-circle').classList.add('hidden');
            this.renderView();
        },
        chatAdapter(id, name, event){
            event.preventDefault();
            chat(id,name, event);
        },
        getData(){
            var self = this;
            AJAX.post({
                url: "ajax/getModels",
                data: {
                    model_names: ["girl_model", "region", "service", "type", "hair"],
                    model_pagination: {girl_model: {take:12,start:1}, model_b:{take:12,start:0}}
                }
            }).then(function(response) {
                //console.log(response);
                self.girls = response.girl_modell;
                self.online_girls = response.online_girls;
                self.filters.regions = response.region;
                self.filters.services.value = response.service;
                self.filters.hairs.value = response.hair;
                self.filters.types.value = response.type;
                //console.log(self.online_girls);
            })
        },
        pag(e){
            e.preventDefault();
            this.pagination_start = (e.target.dataset.ciPaginationPage-1)*12; //Mora -1 zato sto CI tako funkcionise
            this.renderView();
            window.scrollTo(0,0); //$("html, body").animate({ scrollTop: 0 }, "slow");
        },

        init(){
            function customListCSS(list_status, container){
                var list = $(container).find('.slide-down');
                if(list_status == 'open'){
                    list.css('border-bottom-left-radius', '0');
                    list.css('border-bottom-right-radius', '0');
                } else {
                    list.css('border-bottom-left-radius', '8px');
                    list.css('border-bottom-right-radius', '8px');
                }
            }
            slideDownList( "regions", customListCSS);

            slideDownList( "online-girls", customListCSS);

            slideDownList( "filters", customListCSS);
        }
    },
    computed: {},
    watch: {},
    mounted() {
        var self = this;
        this.renderView();
        EventBus.$on('pag', page => this.pag(page)); //Event za paginaciju
        this.init();
    },
    created() {
        this.getData();
        this._loader = document.getElementById("m-loader");
    }
};
</script>

<style scoped>
    .active-filter {
        background-color: #990000;
        color: white !important;
    }
    .active-filter a{
        color: white !important;
    }
    .online-girls {
        max-height: 500px;
        overflow: auto;
    }
    
</style>
